<section id="const" class="const">
    <div class="container">
        <div class="section-title">
            <span>Конструирование</span>
            <h2>Конструирование</h2>
        </div>
        <!-- -->
        <div>
            <div class="row title text-center" style="left: -10px;">
                <h2>С помощью Бабашек</h2>
            </div>
        </div>
        <div style="margin-top: 10%">
            БАБАШКИ или юнит-блоки (unit blocks) — это кубики, история происхождения которых уходит своими корнями в Нью-Йорк начала ХХ века, в период зарождения прогрессивного образования. БАБАШКИ — это продуктивная и экологичная среда развития детей как дома, так и в условиях детского сада.
            <br>
            Бабашки успешно используются в игре и моделировании детьми от 3 до 7 лет, как индивидуально, так и в группе.
            <br>
            Бабашки по размеру больше других кубиков, которые выпускаются в России. Это связано с тем, что ребенку важно создавать постройки и конструкции в рост и действовать внутри созданного пространства. Более того, это не облегченные пластиковые детали, они обладают живым весом, что позволяет ребенку испытывать мышечную радость от строительства.
        </div>
        <div class="d-flex justify-content-center" style="margin: 50px 0">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/Gul-48ItVLM"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen>
            </iframe>
        </div>
        <!-- -->
        <div>
            <div class="row title text-center" style="right: -10px;">
                <h2>С помощью Тико моделирование</h2>
            </div>
        </div>
        <div style="margin-top: 15%">
            С помощью Тико вы откроете ребенку массу возможностей выразить себя
        </div>
        <div class="d-flex justify-content-center" style="margin-top: 50px">
            <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vR80-KKPDiTyQVl7MsRQ1IYAQNuUpuCBTv7RpkHrjuVoV2Z2DYNB6niMoC2xQILJQ/embed?start=false&loop=false&delayms=3000"
                    frameborder="0" width="960" height="749" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
        </div>
        <div class="text-center" style="font-size: 24px; margin: 50px">
            <button  class="button button--secondary">
                <a target="_blank" href="https://drive.google.com/drive/folders/1wakex6kKKH7dIBMqMxlHBPx_W8HoYK_m"
                   class="button__inner">Скачать материал</a>
            </button>
        </div>
        <!-- -->
        <div>
            <div class="row title text-center" style="left: -10px;">
                <h2>С помощью картонной коробки</h2>
            </div>
        </div>
        <div style="margin-top: 15%">
            Идея, разнообразить развивающую среду в группе, обычными картонными коробками пришла не случайно. Вспомнилось как мы в детстве строили баррикады из снежных кирпичей. А так как на улице стоят крещенские морозы и малоснежно- было решено строить баррикады из коробок в группе, ну а почему бы и нет, снеговиков же лепили из искусственного снега в группе, построим и баррикады.
            <br><br>
            В помощь привлекли родителей, каждый принес обычную картонную коробку, обклеив ее дома белой бумагой.
            <br><br>
            Чтоб коробки не смотрелись скучно, сделали аппликацию - лицо снеговика, снеговики получились не похожими друг на друга, один улыбался, другой грустил. У третьего были широко открыты глаза от удивления, а четвертый был смущен. В общем по желанию мы можем слепить снеговика какого захотим.
            <br><br>
            Ну, а строительство баррикад и туннелей вызвало у детей такой восторг, что я поняла моя идея удалась.
        </div>
        <div class="p-5">
            <ul class="image-gallery" style="list-style: none">
                <% for(let i = 1; i < 11; i++)  { %>
                <li>
                    <a href="images/const/<%=i%>.jpg" class="glightbox9" data-gallery="glightbox9">
                        <img class="gallery-image" alt="image" src="images/const/<%=i%>.jpg"/>
                    </a>
                </li>
                <% } %>
            </ul>
        </div>
        <!-- -->
        <div>
            <div class="row title text-center" style="right: -10px;">
                <h2>С помощью зубочистки и пластилина</h2>
            </div>
        </div>
        <div style="margin-top: 10%">
            Не знаете чем занять ребенка!!!!! Дайте ему пластилин, спички( без коробка) или зубочистки.И вперед!!! Фантазии ребенка не будет предела, я уверена что и вы сами к нему присоединитесь!!!
            <br><br>
            Сегодня мы решили развивать пространственное мышление, путем 3Д моделирования. Детям было предложено -пластилин и спички. Показав им принцип действия, дети уже самостоятельно начали фантазировать. Кто то смоделировал самокат, кто- то домик, а кто то пошел дальше-предпринял попытку смоделировать автомобиль. Были увлечены не только дети, но и мы взрослые. Подсматривали друг у друга, что то переделывали, где  добавляли и меняли детали.
            <br><br>
            В итоге, я открыла новый вид конструктора из подручного материала, деток невозможно было остановить. Результат для моих четырех леток я считаю получился превосходным.
            <br><br>
            Возьмите себе на заметку, и играйте с удовольствием!!!
        </div>
        <div class="p-5">
            <ul class="image-gallery" style="list-style: none">
                <% for(let i = 11; i < 21; i++)  { %>
                <li>
                    <a href="images/const/<%=i%>.jpg" class="glightbox9" data-gallery="glightbox9">
                        <img class="gallery-image" alt="image" src="images/const/<%=i%>.jpg"/>
                    </a>
                </li>
                <% } %>
            </ul>
        </div>
        <!-- -->
        <div>
            <div class="row title text-center" style="left: -10px;">
                <h2>Фиксимобиль из стола</h2>
            </div>
        </div>
        <div style="margin-top: 10%">
            Провокация с огромным пазлом, дала свои плоды, мы  увлеченно беседуем о планете  Земля.
            Рассказывая о    незаметно для себя, наши рассуждения привели нас к удивительным изобретениям
            транспорта на Земле. Узнав какими необыкновенными  могут быть автомобили, было решено- для
            путешествия по самым удивительным уголкам нашей планеты нам нужен автомобиль.
            Нет автомобиля -мы его легко создадим сами. Вуаля!!!!! И ФИКСИМОБИЛЬ готов
            <br>
            (в течении дня он правда не один раз был модифицирован, НО последняя версия, обрела -гос знак,
            авторский лэйб от Ярослава и турбопривод ,  завтра едим в Африку)
        </div>
        <div class="p-5">
            <ul class="image-gallery" style="list-style: none">
                <% for(let i = 21; i < 29; i++)  { %>
                <li>
                    <a href="images/const/<%=i%>.jpg" class="glightbox9" data-gallery="glightbox9">
                        <img class="gallery-image" alt="image" src="images/const/<%=i%>.jpg"/>
                    </a>
                </li>
                <% } %>
            </ul>
        </div>
        <!-- -->
        <div>
            <div class="row title text-center" style="right: -10px;">
                <h2>Не купленный крокодил</h2>
            </div>
        </div>
        <div style="margin-top: 10%">
            Путешествуя по планете, ребятам почему то, больше всего запомнился крокодил. Они долго обсуждали его силу и ловкость, Потом подошли  ко мне, с претензией,  купить крокодила, так как , у нас в группе нет ни одного крокодила, даже самого маленького. На предложение сделать крокодильчика самим, откликнулось не много ребят. Купленный лучше-заявили они.
            <br>
            Процесс изготовления, потихоньку поглотил всю группу. А результат превзошел все ожидания.
        </div>
        <div class="p-5">
            <ul class="image-gallery" style="list-style: none">
                <% for(let i = 29; i < 39; i++)  { %>
                <li>
                    <a href="images/const/<%=i%>.jpg" class="glightbox9" data-gallery="glightbox9">
                        <img class="gallery-image" alt="image" src="images/const/<%=i%>.jpg"/>
                    </a>
                </li>
                <% } %>
            </ul>
        </div>
    </div>
</section>


<script type="text/javascript">

    const lightbox9 = GLightbox({
        selector:  '.glightbox9',
        touchNavigation: true,
        loop: true,
        autoplayVideos: true,
        onOpen: () => {

        },
        beforeSlideLoad: (slide, data) => {

        }
    });
</script>

