<%- include('../layout/header') %>

<%- include('../elements/navbar') %>

<main id="main">
    <%- include('../sections/about') %>
    <%- include('../sections/my_progress') %>
    <%- include('../sections/work_principles') %>
    <%- include('../sections/youtube_channel') %>
    <%- include('../sections/my_family') %>
    <%- include('../sections/my_hobbies') %>
    <%- include('../sections/weekdays') %>
</main>

<%- include('../layout/footer') %>