<%- include('../layout/header') %>

<%- include('../elements/navbar') %>

<main id="main">
    <%- include('../sections/about_me/about') %>
    <%- include('../sections/about_me/my_progress') %>
    <%- include('../sections/about_me/work_principles') %>
    <%- include('../sections/about_me/youtube_channel') %>
    <%- include('../sections/about_me/my_family') %>
    <%- include('../sections/about_me/my_hobbies') %>
    <%- include('../sections/about_me/weekdays') %>
</main>

<%- include('../layout/footer') %>