<%- include('../layout/header') %>

<%- include('../elements/navbar') %>

<main id="main">
    <%- include('../sections/colleagues/projects') %>
    <%- include('../sections/colleagues/art') %>
    <%- include('../sections/colleagues/const') %>
</main>

<%- include('../layout/footer') %>