<%- include('../layout/header') %>

<%- include('../elements/navbar') %>

<main id="main">
    <%- include('../sections/events') %>
    <%- include('../sections/publications') %>
    <%- include('../sections/public_activity') %>
    <%- include('../sections/experience_gallery') %>

</main>

<%- include('../layout/footer') %>