<%- include('../layout/header') %>

<%- include('../elements/navbar') %>

<main id="main">
    <%- include('../sections/experience/events') %>
    <%- include('../sections/experience/publications') %>
    <%- include('../sections/experience/public_activity') %>
    <%- include('../sections/experience/experience_gallery') %>

</main>

<%- include('../layout/footer') %>