<%- include('../layout/header') %>

<%- include('../elements/navbar') %>

<%- include('../sections/hero') %>

<main id="main">
    <%- include('../sections/visit_card') %>
    <%- include('../sections/about') %>
    <%- include('../sections/my_progress') %>
    <%- include('../sections/youtube_channel') %>
</main>

<%- include('../layout/footer') %>