<%- include('../layout/header') %>

<%- include('../elements/navbar') %>

<%- include('../sections/home/hero') %>

<main id="main">
    <%- include('../sections/home/visit_card') %>
    <%- include('../sections/clay_work') %>
    <%- include('../sections/home/links') %>
    <%- include('../sections/home/kids_gallery') %>
    <%- include('../elements/content') %>
</main>

<%- include('../layout/footer') %>