<%- include('../layout/header') %>

<%- include('../elements/navbar') %>

<%- include('../sections/hero') %>

<main id="main">
    <%- include('../sections/visit_card') %>
    <%- include('../sections/links') %>
    <%- include('../sections/kids_gallery') %>
</main>

<%- include('../layout/footer') %>