<%- include('../layout/header') %>

<%- include('../elements/navbar') %>

<main id="main">
    <%- include('../sections/kids/videos') %>
    <%- include('../sections/kids/games') %>
    <%- include('../sections/kids/training') %>
    <%- include('../sections/kids/science') %>
</main>

<%- include('../layout/footer') %>