<%- include('../layout/header') %>

<%- include('../elements/navbar') %>

<main id="main">
    <%- include('../sections/my_experience/clay_play') %>
    <%- include('../sections/my_experience/tico_play') %>
    <%- include('../sections/my_experience/projects') %>
    <%- include('../sections/my_experience/morning_tales') %>
</main>

<%- include('../layout/footer') %>