<%- include('../layout/header') %>

<%- include('../elements/navbar') %>

<script defer src="https://use.fontawesome.com/releases/v5.0.13/js/all.js"></script>
<link href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" rel="stylesheet">
<link href="stylesheets/collapse.css" rel="stylesheet">

<main id="main">
    <section id="parents" class="position-relative">
        <!-- > TODO: OPTIMIZATION <canvas id="stars" width="300" height="300" style="z-index: 0"> </canvas><-->
        <!-- > <-->
        <div data-aos="fade-up" class="section-title" style="margin-top: 80px; z-index: 1">
            <span style="color: rgba(244, 113, 116, 1)">Расскажите детям об  искусстве</span>
        </div>
        <div id="tell_about_art">
            <div class="row m-5">
                <div data-aos="fade-right" class="col">
                    <div  class="row">
                        <iframe width="560" height="315"
                                src="https://www.youtube.com/embed/videoseries?list=PLhacIEogygTBdXJIG1ynCjywDzFrEFi3x"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen>
                        </iframe>
                    </div>
                    <div class="text-center">Серия мастер классов от Аллексея Лельчука «Игра в глину»</div>
                </div>
                <div data-aos="fade-left" class="col">
                    <div class="row">
                        <iframe width="560" height="315"
                                src="https://www.youtube.com/embed/AyckciYOWMA"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen>
                        </iframe>
                    </div>
                    <div class="text-center"> Глина очень любит, когда ее тянут, плющат и размазывают. Для рук это очень естественные движения, мы можем экспериментировать с пластичностью глины сколько угодно, не задумывая специально никакую конечную форму</div>
                </div>
            </div>
            <div class="row m-5">
                <div data-aos="fade-right" class="col">
                    <div class="row">
                        <iframe width="560" height="315"
                                src="https://www.youtube.com/embed/CzDeAX20dZE"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen>
                        </iframe>
                    </div>
                    <div class="text-center">Прежде чем лепить что-то интуитивное руками, нужно научить руки чувствовать то, что они делают. Послушайте вместе с детьми но не ухом, а форму ладонью.</div>
                </div>
                <div data-aos="fade-left" class="col">
                    <div class="row">
                        <iframe width="560" height="315"
                                src="https://www.youtube.com/embed/Qk05BHkmJhA"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen>
                        </iframe>
                    </div>
                    <div class="text-center">Попробуйте вместе с ребенком следовать руками за движением души и затягивать в это движение глину. Очень нежно, очень медленно, не переставая слушать ее отклик, свой собственный отклик, и новые чувства, которые рождаются по ходу.</div>
                </div>
            </div>
        </div>
        <div class="row" style="margin:100px">
            <div class="gallery">
                <%
                let urls = [
                    'crhuw2XM6sI',
                    'Mtx8CpR1qBU',
                    'ecu-4ajlr9g',
                    'CzDeAX20dZE',
                    '5KoCkZZ2Fls'
                ]
                        for(let url of urls) {
                %>
                <a href="https://youtu.be/<%=url%>" class="glightbox18" data-gallery="gallery18">
                    <div class="gallery-item ">
                        <img class="gallery-image" src="https://img.youtube.com/vi/<%=url%>/hqdefault.jpg">
                    </div>
                </a>
                <% } %>
            </div>
        </div>
        <!-- > <-->
        <div class="section-title" style="margin-top: 80px; z-index: 1">
            <span style="color: rgba(244, 113, 116, 1)">Книги для родителей</span>
        </div>
        <div id = "parent_books" class="row d-flex justify-content-center p-3 m-0">
            <div class="text-center" style="width: 75%; margin: 60px 0">
                <h2>Мы, как родители, часто сталкиваемся со сложными ситуациями. Воспитание детей – важнейшая задача для каждого взрослого, однако, инструкций о том, как правильно поступать у нас нет. Или подсказки всё-таки есть?</h2>
            </div>
            <div style="width: 95%">
                <h1 style="margin-bottom: 50px">Хочу порекомендовать несколько книг:</h1>
                <div id="">
                    <div class="d-flex flex-column justify-content-center w-100 h-100">
                        <div class="container">
                            <ul class="image-gallery" style="list-style: none">
                                <%
                                let titles = [
                                    '«Цветы и плоды. Путешествие в картину», книжка-игрушка, С.Усачева. Издательство Государственной Третьяковской галереи.',
                                    '«Уроки рисования», Андрей Усачев',
                                    '«Азбука» Эрмитажа издательство «Арка»',
                                    '«Азбука» Третьяковки, издательство «Арка»',
                                    '«Художники. Искусство детям», Паола Волкова',
                                    '«Как говорить с детьми об искусстве»,Ф. Барб-Галль',
                                    '«Прогулки по Третьяковской галерее», Андрей Усачев',
                                    '«От Джотто до Магритта», книга-раскраска, издательство «Арка»',
                                    '«Портреты Пепетты», Линда Рейвинг Лоддинг, издательство «Поляндрия»',
                                    '«Рассказы о художниках», книга с наклейками, издательство «Махаон».',
                                    'Раскраска «Васнецов», издательство «Клевер»',
                                    'Тематические раскраски от издательства Третьяковской галереи «Третьяковский алфавит» (продаются в магазине при музее)',
                                ]
                                for(let i = 1; i < 13; i++)  { %>
                                <li>
                                    <img class="lazy" data-src="images/books/<%=i%>.webp" alt="" />
                                    <div class="overlay p-3"><span><%=titles[i-1]%></span></div>
                                </li>
                                <% } %>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-title" style="margin-top: 40px; z-index: 1">
            <span data-aos="fade-left" style="color: rgba(244, 113, 116, 1)">Поможем детям узнать мир ...</span>
        </div>
        <div id="kids_help" class="row d-flex justify-content-center p-3 m-0">
            <div data-aos="fade-in" class="mb-3">
                <strong>На примере</strong> Ателье «Живые организмы», посвященное природе можно экспериментировать!!
                Как познакомить детей с жизненными циклами и изменениями, происходящими в природе. Все меняется, и дети, так сильно связанные с природой своим сопереживанием и своей любознательностью, чувствуют это особенно ярко. Природа приглашает нас исследовать ее и созерцать, и на это нужно выделить время.
                Вам понадобится: свежие и засушенные листья, плоды, цветы, семена. Множество изображений растений и животных, в том числе макрофотографии. Микроскоп, фотокамера, зеркала, световой стол и увеличительные стекла тут и там лежат рядом с природными материалами, приглашая к исследованию и творчеству. Можно завести террариум с растениями и насекомыми.
            </div>
            <div data-aos="fade-in" class="mb-4">
                Вам понадобится: свежие и засушенные листья, плоды, цветы, семена. Множество изображений растений и животных, в том числе макрофотографии. Микроскоп, фотокамера, зеркала, световой стол и увеличительные стекла тут и там лежат рядом с природными материалами, приглашая к исследованию и творчеству. Можно завести террариум с растениями и насекомыми.
            </div>
            <div class="row ">
                <div data-aos="fade-right" class="col">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/JF-Bmq2r5Qw"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen>
                    </iframe>
                </div>
                <div data-aos="fade-left" class="col">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/ScD0ft8H2hA"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen>
                    </iframe>
                </div>
            </div>
            <div data-aos="fade-down" class="text-center" style="font-size: 24px; margin: 70px">
                <button  class="button button--secondary">
                    <a target="_blank" href="https://drive.google.com/drive/folders/1kPznya9VFKNByvKH97Gg_AT9b_YJyZL9?usp=sharing"
                       class="button__inner">Скачать материал</a>
                </button>
            </div>
        </div>
        <div id="tips" class="row d-flex justify-content-center m-0">
            <div class="section-title" style="margin-top: 40px; z-index: 1">
                <span data-aos="fade-left" style="color: rgba(244, 113, 116, 1)">Советы</span>
            </div>
            <div style="width: 70%; margin-top: 50px">
                <div class="mb-5" data-aos="fade-right">
                    <h4 class="mb-3">1. Будьте последовательны</h4>
                    Как бы хорошо вы ни воспитывали ребёнка, если вы не выполняете свои обещания, он запутается.
                    Так что, если вы о чём-то договорились или угрожаете последствиями, нужно держать слово.
                </div>
                <div class="mb-5" data-aos="fade-right">
                    <h4 class="mb-3">2. Выделите время на игру с ребёнком</h4>
                    Найдите время, чтобы делать что-то вместе с ребёнком
                    — Рекомендую выделить хотя бы 20 минут в день, чтобы
                    общаться или играть с ребёнком, не отвлекаясь ни на что больше
                </div>
                <div class="mb-5" data-aos="fade-right">
                    <h4 class="mb-3">3. Найдите время, чтобы делать что-то вместе с ребёнком</h4>
                    Клинический психолог Николь Беркенс считает, что у каждого взрослого должно быть одно дело,
                    которое они всегда делают вместе с ребёнком. Например, вы можете купать его, вместе готовить
                    завтрак, гулять по вечерам или делать что-то другое, но ежедневно.
                </div>
                <div class="mb-5" data-aos="fade-right">
                    <h4 class="mb-3">4. Научите ребёнка различать эмоции</h4>
                    Открыто говорите ребенку о своих чувствах.
                    Ребёнок будет понимать, что все люди иногда бывают разочарованы,
                    грустят и испытывают самые разные эмоции.
                </div>
                <div class="mb-5" data-aos="fade-right">
                    <h4 class="mb-3">5. Делайте комплименты</h4>
                    Используйте «соотношение 5:1», когда дело касается критики ребёнка.
                    На каждое негативное замечание должно приходиться по пять положительных
                    комментариев или пять поощрений.
                </div>
                <div class="mb-5" data-aos="fade-right">
                    <h4 class="mb-3">6. Следите за тем, что ребёнок делает в телефоне</h4>
                    «Будьте рядом с ребёнком, пока он в сети, интересуйтесь тем, что он читает,
                    смотрит и делает, помогайте ему учиться в интернете»
                </div>
                <div class="mb-5" data-aos="fade-right">
                    <h4 class="mb-3">7. Отвечайте на вопросы, даже если они раздражают</h4>
                    По своей природе дети любопытны. Иногда эта любознательность переходит в настоящий допрос,
                    хотя, казалось бы, тема для разговора совсем не трудная.
                    «Чем больше вы отвечаете на вопросы, тем больше вы помогаете ребёнку учиться думать о себе,
                    мире и отношениях, — считает педагог-психолог Пол Рэнд. — Не подавляйте его интерес к учёбе,
                    каким бы раздражающим ни был очередной вопрос „почему?"»
                </div>
                <div class="mb-5" data-aos="fade-right">
                    <h4 class="mb-3">8. Задавайте вопросы сами каждый день</h4>
                    Отвечать на вопросы — это ещё не всё. Важно также задавать их ребёнку.
                    Хорошо, если вопрос будет открытым — то есть не такой, на который можно
                    ответить только «да» или «нет». Психолог Кэтрин Джексон считает, что такие вопросы
                    стимулируют разговор и помогают ребёнку сосредоточиться на том хорошем, что случилось
                    с ним за день. А вы будете в курсе дел, в которых ребёнку нужна помощь.
                </div>
                <div class="mb-5" data-aos="fade-right">
                    <h4 class="mb-3">9. Будьте опорой</h4>
                    Между ребёнком и родителем должно быть не только уважение, но и доверие.
                    Будьте открыты, выслушивайте всё, что рассказывает вам ребёнок.
                    Покажите ему, что вы можете справиться с тем, что он вам рассказывает.
                </div>
                <div class="mb-5" data-aos="fade-right">
                    <h4 class="mb-3">10. Слушайте друг друга, не отвлекаясь</h4>
                    Отложить телефон или оторваться от важного дела, когда вам что-то рассказывают,
                    не всегда просто, но научиться слушать необходимо. Это касается всех членов семьи,
                    не только детей. У зрительного и физического контакта есть полезные неврологические преимущества.
                    А ещё это поможет вашим детям научиться быть активными и вовлечёнными слушателями.
                </div>
                <div class="mb-5" data-aos="fade-right">
                    <h4 class="mb-3">11. Будьте внимательны к ребёнку во время истерик</h4>
                    Исследования показывают, что некоторым людям нужно 20–45 минут,
                    чтобы физически восстановиться после спора или истерики.
                    «Когда ребёнок (или взрослый) сильно расстраивается или волнуется,
                    его тело переходит в режим борьбы, — считает Ребекка Джексон.
                    — В эти моменты у мозга просто нет возможности рассуждать или как-то регулировать процесс.
                    Позвольте ребёнку пережить это, а затем обсудите поведение, инцидент или проблему,
                    которые вызвали такую реакцию».
                </div>
            </div>
        </div>
        <!-- > <-->
        <div id="ytb_together" class="section-title" style="margin-top: 100px; z-index: 1">
            <span data-aos="fade-left" style="color: rgba(244, 113, 116, 1)">Посмотрите вместе YouTube</span>
        </div>
        <div data-aos="fade-up" class="text-center" style="font-size: 24px">канал познаем мир</div>
        <div data-aos="zoom-in" id="ytb_together" class="m-3">
            <div class="container">
                <div class="grid-row">
                    <%
                    let playlists = [
                        {
                            title: 'Познаем транспорт',
                            href: 'https://www.youtube.com/playlist?list=PLkmnUUtfk-AdhAlloxWs1rguOaSFpTaLq',
                            img: 'https://img.youtube.com/vi/x-HtJ7gCKrc/hqdefault.jpg'
                        },
                        {
                            title: 'Оригами своими руками',
                            href: 'https://www.youtube.com/playlist?list=PLkmnUUtfk-Ae-Tm2MNeolgNs4toaqOP0B',
                            img: 'https://img.youtube.com/vi/5OohJ6WzNpc/hqdefault.jpg'
                        },
                        {
                            title: 'Флома и фауна',
                            href: 'https://www.youtube.com/playlist?list=PLkmnUUtfk-AdCXWJvvaGn-XL53HI4mR38',
                            img: 'https://img.youtube.com/vi/K8Z01Q1_MQ8/hqdefault.jpg'
                        },
                        {
                            title: 'Сад и огород',
                            href: 'https://www.youtube.com/playlist?list=PLkmnUUtfk-AdgDqhcy5Z2uEsbPTa18toj',
                            img: 'https://img.youtube.com/vi/A2vzhP5anZQ/hqdefault.jpg'
                        },
                        {
                            title: 'Полезно знать',
                            href: 'https://www.youtube.com/playlist?list=PLkmnUUtfk-AcTU-Y6EiaI0arGdiLFYgQn',
                            img: 'https://img.youtube.com/vi/XU0_RY_-F2w/hqdefault.jpg'
                        }
                    ]
                            for(let playlist of playlists) {
                    %>
                    <div class="grid-item">
                        <a style="color: black" href="<%=playlist.href%>" target="_blank">
                            <span>
                                <h3><%=playlist.title%></h3>
                            </span>
                            <img height="300px" width="300px" class="clip-circle" src=<%=playlist.img%>>
                        </a>
                    </div>
                    <% } %>
                </div>
            </div>
        </div>
        <!-- > <-->
        <div class="section-title" style="margin-top: 80px; z-index: 1">
            <span data-aos="fade-right" style="color: rgba(244, 113, 116, 1)">Креативные идеи из ничего</span>
        </div>
        <div id = "parents_video" class="row d-flex justify-content-center p-3 m-0">
            <div class="row" style="margin:100px">
                <div class="gallery">
                    <%
                    urls = [
                        '1EIitwNzAvq7MbNU-EXBoRm3ONuAsAl_E',
                        '11W_HvypxxtHWJcF4rfWHcd3k-FpNHsHo',
                        '1xQzwvM74XUbKwR5fVM69DFVeOAjXhQay',
                        '1hDQ5yzc-orIHpXzni_hzrsEWFuM51Ezp',
                        '1CfbPC10oYdUQcvj-JdqQtYmezSbngT16',
                        '1G7fcZeM2etohFcx0oOO5Vmv2hZgJ-3Ix',
                        '162TcjdZ8X5yRdgGXleX5jcfYA3mmH9hH',
                        '1mTHJnS4mCUQfjRPQffaVd-qm87D-azgr',
                        '1GKRJIXKyXynCkU7MR9vB1Bwzlc7XIG7P',
                        '1S-i2rWnFWKkmV2FpY59_mPaSSXaFV5F8',
                        '1kMPQ1sC9wklSf-ZIVjU8k43hp-rjd6Sj',
                        '1PbhIaZnIZLdp8UjLcxAGFA1fe8DpSC8p',
                        '1YWz_zd_cUu_wdCf4h_akUN35NHQZLyr0',
                        '1ZczchF6jt86nOGn0zf1ZkKjYQdairSAb',
                        '1NdcRD_e57Scf2TQGhjErx1I1gbVXndc8',
                        '1tiXfcuz9QoTRGAcG6ynvgWFCzo_FAGPm',
                        '1Y7oqJhGjL8uOQPEV1ljqfpf5jawgSZCp',
                        '1WGFj9bCaKgNi_x5CqVw4Pq7dFpUfRxQx',
                        '1iDq4TEFe-hR08ZRDfV6YN9zpOzzRbOoQ',
                        '1A9i2eX4fXbgfCIr6lL-TPKuoHAkRTUWx',
                        '1Bf9mqQKqESqY_rddWLxymJ0epdNiiuP6',
                        '17_j4bvY6jtN5dqpYvXlaUbHd4jvq7Qmh',
                        '1KZqwA4FduVMxlj10whDX2AiANHBdf_Cr',
                        '1apCZXIqYSYucW2Wvf2ay4Ba70dNaXIBq',
                        '1rStyzWoWWd959DwkC_6wxjClQ_ZFPPay',
                        '1lTpBXdevXUFovW6QDQCvT_TTDbs4fypv',
                        '1IWgfXzXCy6X61urjWbjBeAYGFSbrYKGI',
                        '1aah1DKKg-r2aX0u6zc1ajN8q0nDpdzed',
                        '1EY5-sVH0m4Xo5-6bYtKxCnzW7aK2L0Nd'
                    ]
                            for(let url of urls) {
                    %>
                    <a href="https://drive.google.com/file/d/<%=url%>/preview" class="glightbox5" data-gallery="gallery5">
                        <div class="gallery-item">
                            <img style="object-fit: cover; height: 150px"
                                 class="gallery-image" src="https://drive.google.com/thumbnail?id=<%=url%>">
                        </div>
                    </a>
                    <% } %>
                </div>
            </div>
        </div>
        <!-- > <-->
        <div id="light_play" class="section-title" style="margin-top: 80px; z-index: 1">
            <span data-aos="fade-left" style="color: rgba(244, 113, 116, 1)">Поиграйте  со светом и тенью</span>
        </div>
        <div >
            <div data-aos="fade-up" class="d-flex justify-content-center m-3">
                <div class="text-center w-75">
                    Игры со светом - самый доступный и самый зрелищный вид занятий с малышами.
                    <br>Это - настоящая магия и волшебство.
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <ul class="image-gallery" style="list-style: none; width: 85%; margin: 10px">
                    <%
                    titles = [
                        'Пускаем солнечных зайчиков, ловим по очереди.',
                        'Празднуем "кукольный" День Рождения. Учимся задувать свечу.',
                        'Запускаем плавающие свечи-кораблики, дуем, чтобы поплыли, но не погасли.',
                        'Ходим по темному дому со свечой.\n' +
                        'Можно пробовать передвигаться в темноте или с завязанными глазами на голос и звук (например, музыкальных инструментов). \n',
                        'По очереди освещаем предметы фонариком.',
                        'Определяем, что влияет на яркость света. Изменяем удаленность и силу источников света: фонарик ближе-дальше, лампочек больше-меньше.',
                        'Наблюдаем, проходит ли свет фонарика через ткань, картон, стекло, дерево, воду и т.д. Мы обычно светим Главному Читателю на живот через препятствие. Играем дома в туристов с фонариком и "палаткой". Распогодится, пойдем в поход.\n' +
                        'Смотрим, как цветы тянутся к свету. Специально поворачиваем вазу.\n',
                        'Раскладываем солнечный свет на спектр - делаем собственную радугу. Наливаем воду в емкость, опускаем туда зеркало под углом, ждем солнечный день и ставим все напротив окна. Ловим зеркалом "луч света" и наблюдаем радугу на стене. Можно "ловить радугу" хрустальным бокалом на белом листе бумаги.',
                        'Смешиваем цвета, не используя краски. Для этого нужен волшебный волчок Перельмана. Берем обычный волчок, вырезаем бумажные круги его же диаметра с прорезью от центра к краю. Надеваем их на волчок так, чтобы края заходили друг на друга. Изучаем оттенки. Например, красный и белый сектора при вращении волчка сливаются в розовый. Увеличивая белый сектор получаем все более светлые оттенки, уменьшая - темные. Можно взять круги красного и желтого цвета. Тогда при вращении волчок станет оранжевым. Желтый и синий даст зеленый и т.д.\n' +
                        'Делаем радугу наоборот - вместо расщепления света на спектр, собираем 7 цветов в белый. Делим круг на 7 частей, красим их в соответствии с расположением цветов радуги, закручиваем волчок и получаем белый. Здесь очень важна точность рисунка.\n',
                        'Глядя на наши "опыты", папа думает, когда же мы обе дорастем до набора для экспериментов "Свет и цвет":\n' +
                        'Играем со светящимися палочками - делаем рельсы, браслеты и просто балдеем. \n',
                        'Просим ребенка сделать фото огней на медленной выдержке. Дарим красоту всем знакомым.',
                        'Сами тоже не можем удержаться, и немного фотографируем )\n' +
                        'Есть много зрелищных "трюков и фокусов" с огнем: салют, бенгальские огни, фаер-шоу, бумажные небесные фонарики, подсвечники из стеклянных банок и рулонов кальки и пр. На костре можно не только жарить сало, но и "рисовать" потом по воздуху в темноте тлеющими головешками.\n',
                        'Делаем домашний театр теней. Для этого на картонную раму или раму от фото или картины натягиваем кальку, приклеиваем скотчем опоры, устанавливаем раму на край стола, радостно под него заползаем, ставим у себя за спиной источник света (у нас старый фильмоскоп, но подойдет и лампа), рассаживаем зрителей по местам и начинаем волшебное представление.',
                        'Открываем крышку коробки, выключили свет и начали разламывать палочки и кидать внутрь, наблюдая как они постепенно загораются. Конечно, Том с удовольствием их перекладывал и мешал какое-то время. ',
                        'На светом столе раскладываем стеклышки.Сортировка по форме, счет.',
                        'Конструирование',
                        'грамота',
                        'Приготовьте вот такой пакетик. Сделать его очень просто. \n' +
                        'Нужно взять Зип-пакет, заполнить его разной плоской мелочью. Блестки и звездочки для поделок. А еще магнитные буквы,  цифры тоже можно, или наклейки пластиковые. Заливаем сверху детское масло-гель. Можно заменить на прозрачное мыло, шампунь, средство для волос. Плотно закрыть и даже заклеить для надежности.\n',
                        'А еще можно кидать эти кольца на пластиковые бутылки. А сколько всего еще можно придумать!!!\n' +
                        'Конечно все предметы легко заменяемые.\n',
                        'Вместо светящихся палочек можно использовать елочную гирлянду, фонарь или даже настольную лампу.\n' +
                        'Коробку можно взять и картонную, вырезав на верхней стороне-крышке окно и обклеив его калькой или пергаментной бумагой для выпечки.\n',
                        'Вместо декоративных стеклышек, можно использовать тонкий пластик разных цветов, вырезав из него разные фигуры.\n' +
                        'Простор для фантазии неограничен.\n',
                    ]
                    for(let i = 1; i < titles.length; i++) {
                    %>
                    <li>
                        <a data-description = "<%=titles[i-1]%>" href="images/parents/<%=i%>.webp"
                           class="glightbox19" data-gallery="gallery19">
                            <img style="width: 300px" class="gallery-image lazy" alt="image" data-src="images/parents/<%=i%>.webp"/>
                        </a>
                    </li>
                    <% } %>
                </ul>
            </div>
        </div>
        <!-- > <-->
        <div id="carantin" class="section-title" style="margin-top: 80px; z-index: 1">
            <span data-aos="fade-left" style="color: rgba(244, 113, 116, 1)">Работа с детьми во время карантина</span>
        </div>
        <div >
            <div class="d-flex justify-content-center" style="margin-top: 50px">
                <ul class="image-gallery" style="list-style: none; width: 85%; margin: 20px">
                    <%
                    urls = [
                        '1CSM4V1jpRsfZfVTgpAuaFJIet0DlLADe',
                        '1RKZE658B6-bz60wX2oCZ9ENY_gS6VQ5s',
                        '170c3rptuPPmWV-cdkXQ-AzEMXGjYTyU9',
                        '147RZVxx-v9Uijcg9sRRFIddmkBvaF9mk',
                        '1OD8p0inzWOABLRIHrPnW5qekp3BH30eE',
                        '1Saga9Bi1-dmQYok-KwxVhYfHfzrDLFh-',
                        '1XdgiKoCUWMDpTKK7iJuAV5cC9hBheXFu',
                        '1q30soNd5xPuCRvFVdZUvu2Nwx3fOBQzs',
                        '15FjNI1lqUDmhCUvRWP6HCgiSgRVET2Co'
                    ]
                            for(let url of urls) {
                    %>
                    <a href="https://drive.google.com/file/d/<%=url%>/preview" class="glightbox21" data-gallery="gallery21">
                        <div class="gallery-item">
                            <img style="width: 200px"
                                 class="gallery-image" src="https://drive.google.com/thumbnail?id=<%=url%>">
                        </div>
                    </a>
                    <% } %>
                </ul>
            </div>
        </div>
        <!-- > <-->
        <div data-aos="fade-right"class="section-title" style="margin-top: 100px; z-index: 1">
            <span style="color: rgba(244, 113, 116, 1)">Развитие ребенка</span>
        </div>
        <div id = "child_development" class="row d-flex justify-content-center p-3 m-0">
            <div style="height: auto">
                <div class="faq-container">
                    <div class="faq" data-aos="fade-right">
                        <h3 class="faq-title">Если ребёнок не прибирает игрушки</h3>
                        <div class="faq-text">
                            Прибрать игрушки - это не тяжёлая трудовая повинность, не наказание, а обычное повседневное занятие.
                            <ul>
                                <li>у игрушек должно быть своё постоянное и известное ребёнку место;</li>
                                <li>если игрушек много, то разбейте уборку игрушек на части: прибрал конструктор - обнимашки с мамой, прибираем машинки - догонялки с папой и т.д.;</li>
                                <li>предложите помощь, покажите пример, постепенно уменьшайте степень своего участия;</li>
                                <li>хвалите и поддерживайте ребёнка;</li>
                                <li>правило "поиграл - поставь на место" должно соблюдаться всегда, иначе не будет работать.</li>
                            </ul>
                        </div>
                        <button class="faq-toggle">
                            <i class="fas fa-chevron-down"></i>
                            <i class="fas fa-times"></i>
                        </button>
                    </div>

                    <div class="faq" data-aos="fade-right">
                        <h3 class="faq-title">Одеваемся самостоятельно</h3>

                        <div class="faq-text">
                            Очень важно уметь, как взрослый, самостоятельно одеваться и раздеваться.
                            <ul>
                                <li>возрастные нормы доступны для скачивания здесь;</li>
                                <li>одежда ребёнка должна быть, в первую очередь, свободная и удобная для самостоятельного одевания;</li>
                                <li>дайте ребёнку время для самостоятельного одевания;</li>
                                <li>в тот момент, когда ребёнок старательно (возможно, ещё медленно) одевается не ругайте, не нервничайте, а похвалите и поддержите;</li>
                                <li>позвольте ребёнку одеваться самостоятельно, не делайте этого за него.</li>
                            </ul>
                        </div>
                        <button class="faq-toggle">
                            <i class="fas fa-chevron-down"></i>
                            <i class="fas fa-times"></i>
                        </button>
                    </div>

                    <div class="faq" data-aos="fade-right">
                        <h3 class="faq-title">Миллион почему каждый день</h3>

                        <div class="faq-text">
                            Ох уж этот "Возраст почемучек"! Миллион "Почему?" слышали все родители. Каждый взрослый обладает огромным багажом знаний и, конечно, может ответить на большинство "Почему?". А нужно ли сразу давать ответ на каждый вопрос ребёнка?
                            Задайте ребёнку ответные важные вопросы:
                            <ul>
                                <li>Как ты считаешь?</li>
                                <li>Как это можно проверить?</li>
                                <li>Где можно узнать об этом?</li>
                            </ul>
                            Поддержите ребёнка в его поисках ответов и обязательно похвалите за самостоятельные открытия.
                            То, что удалось узнать ребёнку слушайте с интересом и вниманием; задавайте вопросы, мотивирующие к новым поискам.
                        </div>
                        <button class="faq-toggle">
                            <i class="fas fa-chevron-down"></i>
                            <i class="fas fa-times"></i>
                        </button>
                    </div>

                    <div class="faq" data-aos="fade-right">
                        <h3 class="faq-title">Совместные игры</h3>

                        <div class="faq-text">
                            Между родителями и детьми существует незримая эмоциональная связь. Именно эта связь делает наши отношения с детьми доверительными.
                            Эмоциональную связь поддерживает совместное времяпрепровождение, когда родители и дети увлечены одним делом, например, игрой.
                            Варианты игр:
                            <ul>
                                <li>Подвижные игры, например, бадминтон, игры с мячом, салочки, прятки и т.д.</li>
                                <li>Настольные игры: домино, мемо, бродилки, лото и т.д.</li>
                                <li>Сюжетные игры, такие как "Больница", "Кафе" и т.д.</li>
                                <li>Весёлые развлечения</li>
                            </ul>
                        </div>

                        <button class="faq-toggle">
                            <i class="fas fa-chevron-down"></i>
                            <i class="fas fa-times"></i>
                        </button>
                    </div>

                    <div class="faq" data-aos="fade-right">
                        <h3 class="faq-title">Как реагировать на истерику?</h3>

                        <div class="faq-text">
                            Дети не всегда могут справиться со своими эмоциями, а мы, взрослые, иногда не знает как правильно реагировать на истерики детей.
                            <ul>
                                <li>во-первых, необходимо справиться со своими эмоциями, сохранять спокойствие и уверенность;</li>
                                <li>не нагнетайте обстановку словами "вы посмотрите на него, кричи громче", "как тебе не стыдно", "вот уйду и оставлю тебя здесь"</li>
                                <li>если до истерики были озвучены требования (например, прибери игрушки, одевайся), нужно снять требования и назвать ребёнку эмоцию.</li>
                                <li>ты расстроился, полежи немного; ты злишься, я тоже иногда злюсь.
                                    - постарайтесь как можно меньше уделять внимание ребёнку, возьмите игрушку, сладость, что-то интересное для ребёнка, отойдите в сторону и прямо не смотрите на ребёнка.</li>
                                <li> если истерика не усиливается, то отвлеките, предложив какую-либо деятельность: "дай пять", щекотка, обнимашки, хлопать в ладоши - то, что нравится вашему ребёнку.</li>
                                <li>если во время истерики ребёнок может удариться, навредить себе или окружающим, то обнимите, блокируйте действие, чтобы не навредить (при этом ничего не говорите).</li>
                                <li>предложите ребёнку посильное дело: что-то подержать, отнести, подать.</li>
                                <li>если истерики происходят часто или во время этого ребёнок может навредить себе или окружающим, то необходимо проконсультироваться со специалистом.</li>
                                <li>анализируйте те ситуации, которые являются триггерами, запускающими истерики, подскажите ребёнку, как себя вести в этих ситуациях (или что сказать)</li>
                                <li></li>
                            </ul>
                        </div>

                        <button class="faq-toggle">
                            <i class="fas fa-chevron-down"></i>
                            <i class="fas fa-times"></i>
                        </button>
                    </div>

                    <div class="faq" data-aos="fade-right">
                        <h3 class="faq-title">Правила</h3>

                        <div class="faq-text">
                            В нашей жизни множество правил: правила дорожного движения, правила пользования электроприборами, правила поведения в общественных местах, например.
                            В семье мы также устанавливаем правила. Нужно помнить, что
                            <ul>
                                <li>правила не должны нарушаться никогда (вчера нужно было обязательно почистить зубы, а сегодня можно было не чистить - правило не будет соблюдаться; если чистим, то всегда);</li>
                                <li>правила распространяются на всех членов семьи (если кто-то из членов семьи нарушает правило, то оно работать не будет);</li>
                                <li>начните с трёх обязательных правил и постепенно увеличивайте их количество;</li>
                                <li>если необходимо, то запишите или зарисуйте правила с ребёнком.</li>
                            </ul>
                        </div>

                        <button class="faq-toggle">
                            <i class="fas fa-chevron-down"></i>
                            <i class="fas fa-times"></i>
                        </button>
                    </div>

                    <div class="faq" data-aos="fade-right">
                        <h3 class="faq-title">Личное пространство</h3>

                        <div class="faq-text">
                            Иметь свою территорию, своё пространство, на котором ты устанавливаешь правила, которое ты сам организуешь и где всё устроено так, как нравится тебе - это необходимо для каждого из нас.
                            Создайте для ребёнка такое пространство:
                            <ul>
                                <li>крючки и полки, куда ребёнок сам сможет разложить (развесить) какие-то предметы - это поддержит его возрастающую самостоятельность;</li>
                                <li>выделите место в квартире, где ребёнок свободно сможет распоряжаться пространством, организовывать его по своему желанию - все строили в детстве мини-домики;</li>
                                <li>уточняйте мнение ребёнка при организации детской зоны (комнаты) и учитывайте пожелания, договаривайтесь.</li>
                            </ul>
                        </div>

                        <button class="faq-toggle">
                            <i class="fas fa-chevron-down"></i>
                            <i class="fas fa-times"></i>
                        </button>
                    </div>

                    <div class="faq" data-aos="fade-right">
                        <h3 class="faq-title">Литература</h3>

                        <div class="faq-text">
                            Подборка литературы для чтения:

                            <ul>
                                <li>Шалва Амонашвили - все книги</li>
                                <li>Л. Петрановская "Тайная опора"</li>
                                <li>Ю. Гиппенрейтер "Самая важная книга для родителей"</li>
                                <li>Макдауэлл Д., Дей Д. "Как стать героем для своих детей"</li>
                                <li>Д. Макнамара "Покой, игра, развитие. Как взрослые растят маленьких детей, а маленькие дети растят взрослых"</li>
                            </ul>
                        </div>

                        <button class="faq-toggle">
                            <i class="fas fa-chevron-down"></i>
                            <i class="fas fa-times"></i>
                        </button>
                    </div>

                    <div class="faq" data-aos="fade-right">
                        <h3 class="faq-title">Движение - жизнь</h3>

                        <div class="faq-text">
                            Двигательная активность необходима каждому ребёнку.
                            Обращайте на это внимание, создавайте условия в которых ребёнок сможет реализовать эту свою потребность:
                            <ul>
                                <li>спортивный инвентарь дома (спортивный уголок, фитбол, мячи, скакалки и т.д.);</li>
                                <li>активные игры на свежем воздухе;</li>
                                <li>спортивные секции.</li>
                            </ul>
                        </div>

                        <button class="faq-toggle">
                            <i class="fas fa-chevron-down"></i>
                            <i class="fas fa-times"></i>
                        </button>
                    </div>

                    <div class="faq" data-aos="fade-right">
                        <h3 class="faq-title">Когда ребёнок перестаёт слушать родителей?</h3>

                        <div class="faq-text">
                            <ul>
                                <li>если у родителей разные позиции (мама строгая, а папа - нет);</li>
                                <li>много внимания уделяется нежелательному поведению и мало внимания ребёнок получает, когда хорошо себя ведёт;</li>
                                <li>ребёнку позволено проявлять агрессию в отношении родителей;</li>
                                <li>нет правил и чётких границ;</li>
                                <li>родители теряют самообладание и кричат на ребёнка;</li>
                                <li>отсутствие структуры, порядка в доме;</li>
                                <li>"пустые" угрозы с обещанием наказания, которые не воплощаются в реальность (не нужно использовать наказания и угрожать, пугать наказанием нельзя);</li>
                                <li>оправдание (рационализация) проблемного поведения;</li>
                                <li>споры с детьми, "торговля", "подкуп";</li>
                                <li>родители видят своего ребёнка несчастным и всё позволяют.</li>
                            </ul>
                        </div>

                        <button class="faq-toggle">
                            <i class="fas fa-chevron-down"></i>
                            <i class="fas fa-times"></i>
                        </button>
                    </div>

                    <div class="faq" data-aos="fade-right">
                        <h3 class="faq-title">День семьи</h3>

                        <div class="faq-text">
                            Наша жизнь динамичная и многозадачная. В этом круговороте иногда не хватает времени или сил на самое важное - общение с близкими.

                            Выделите один день в неделю, который будет посвящён общению с близкими. Планируйте этот день: прогулки, поездки, игры, посещение интересных мест, разговоры, объятия.
                            Семейные дни останутся в памяти на долго, они значимы и ценны для всех.
                        </div>

                        <button class="faq-toggle">
                            <i class="fas fa-chevron-down"></i>
                            <i class="fas fa-times"></i>
                        </button>
                    </div>

                    <div class="faq" data-aos="fade-right">
                        <h3 class="faq-title">Домашние обязанности</h3>

                        <div class="faq-text">
                            У каждого члена семьи есть домашние обязанности. Дошкольник - полноценный член семьи. Делегируйте ребёнку посильные домашние обязанности: протирать пыль, кормить кота, прибирать игрушки, расправлять (заправлять) постель, поливать цветы, раскладывать покупки и т.д.
                            Всё это формирует ответственность, позволяет проявить заботу о близких, стать самостоятельнее.
                        </div>

                        <button class="faq-toggle">
                            <i class="fas fa-chevron-down"></i>
                            <i class="fas fa-times"></i>
                        </button>
                    </div>

                    <div class="faq" data-aos="fade-right">
                        <h3 class="faq-title">Воспитание без наказания</h3>

                        <div class="faq-text">
                            Иногда, не зная, как изменить ситуацию, взрослые применяют наказательные меры в отношении детей.
                            <ul>
                                <li>Наказание не способно изменить поведение ребёнка в долгосрочной перспективе, лишь временно, до тех пор пока действует наказательная мера. Однако, наказание всегда имеет отложенные отрицательные последствия, оставляет раны, травмы, с которыми ребёнку нужно будет жить.</li>
                                <li>Наказание лишает ребёнка возможности, права принимать свои собственные решения и брать ответственность за своё поведение./li>
                                <li>Наказывая, мы показываем ребёнку модель поведения, в которой сильный унижает слабого. Нужно ли говорить о том, что дети копируют то, что видят.</li>
                                <li>Шалва Амонашвили сказал: "Раздражение не равно воспитанию". Те слова, которые мы говорим детям в состоянии раздражения, мы бы никогда не сказали будучи спокойны и в добром расположении духа. Те слова, которые мы говорим, когда раздражены не имеют к воспитанию никакого отношения.</li>
                            </ul>
                            Договаривайтесь с детьми, говорите и слушайте, будьте внимательны к желаниям и потребностям детей, уважайте их мнение, принимайте во внимание слова, показывайте пример, проводите время вместе.
                        </div>

                        <button class="faq-toggle">
                            <i class="fas fa-chevron-down"></i>
                            <i class="fas fa-times"></i>
                        </button>
                    </div>

                    <div class="faq" data-aos="fade-right">
                        <h3 class="faq-title">Если ребёнок провинился</h3>

                        <div class="faq-text">
                            Не принимайтесь за воспитание в плохом настроении.

                            Ясно определите, что Вы хотите от ребенка (и объясните ему это), а также узнайте, что он думает по этому поводу.
                            Не унижайте ребенка подобными фразами: «А у тебя вообще есть голова на плечах?»
                            Не угрожайте: «Если ты еще раз так сделаешь - ты у меня...»
                            Не вымогайте обещаний, для ребенка это трудно.
                            Оценивайте поступок, а не личность ребенка: не – «Ты плохой», а – «Ты поступил плохо».

                            После замечания прикоснитесь к ребенку и дайте почувствовать, что Вы ему сочувствуете, верите в него, готовы помочь ему справиться с проблемой вместе!
                            Помогайте разобраться и найти выход! И тогда всё получиться!
                        </div>

                        <button class="faq-toggle">
                            <i class="fas fa-chevron-down"></i>
                            <i class="fas fa-times"></i>
                        </button>
                    </div>

                    <div class="faq" data-aos="fade-right">
                        <h3 class="faq-title">Каждому ребёнку нужны</h3>

                        <div class="faq-text">
                            ЛЮБОВЬ: каждому ребенку необходимо ощущение того, что его родители любят его, что он желанный и что он кому-то очень дорог, что рядом с ним есть люди, которым не безразлично то, что происходит с ним.
                            <br>
                            ВОСПРИЯТИЕ: каждому ребенку необходима вера в то, что родители любят его таким, какой он есть. Что они любят его все время, а не только тогда, когда он поступает так, как они этого хотят. Что они всегда принимают его, хотя не всегда могут одобрять то, что он делает.
                            <br>
                            БЕЗОПАСНОСТЬ: каждому ребенку необходимо чувствовать, что его дом – хорошее и безопасное место. он должен быть уверен в том, что его родители всегда готовы прийти к нему на помощь, особенно в трудные для него моменты жизни. Что он является частью семьи, что существует место, где его ждут.
                            <br>
                            ЗАЩИТА: каждому ребенку необходимо чувствовать, что его родители будут защищать его от бед, что они придут к нему на помощь, когда он сталкивается с чем-то неизвестным.
                            <br>
                            НЕЗАВИСИМОСТЬ: каждому ребенку необходимо знать, что его родители хотят, чтобы он стал взрослым и чтобы пробовал свои силы в той или иной сфере. Что они уверены в нем и в том, что он может обеспечить себя сам.
                            <br>
                            ПАРТНЁРСТВО: каждый ребенок нуждается в дружеской помощи при осознании того, как себя вести с людьми и событиями. И окружающие его взрослые должны на своем примере показать ему, как нужно общаться.
                            <br>
                            КОНТРОЛЬ: каждому ребенку необходимо осознавать, что существуют определенные правила и условия, установленные его родителями и которых он должен придерживаться. Что, несмотря на то, что нет ничего плохого в том, что ребенок испытывает ревность или злость, ему не будет позволено причинить боль ни себе, ни другим.
                            <br>
                            У тех детей, чьи основные потребности удовлетворены, больше шансов вырасти здоровыми психически взрослыми, стать хорошими родителями, хорошими друзьями, хорошими работниками, хорошими соседями, хорошими гражданами.
                        </div>

                        <button class="faq-toggle">
                            <i class="fas fa-chevron-down"></i>
                            <i class="fas fa-times"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- > <-->
        <div class="section-title" style="margin-top: 100px; z-index: 1">
            <span class="revealFadeInDown" style="color: rgba(244, 113, 116, 1)">Рекомендации педагога</span>
        </div>
        <div id = "teacher_recommendations" class="row d-flex justify-content-center p-3 m-0">
            <div class="text-center" style="width: 60%">
                <h1 class="my-3">МУЛЬТФИЛЬМЫ</h1>
                Все дети любят мультики, да что там говорить и взрослые их тоже любят. Однако, есть разные мнения по поводу просмотра мультиков. Я выделила основные «за» и «против».
            </div>
            <div class="row m-0 mt-5" style="width: 80%">
                <div class="col">
                    <div class="text-center mb-3">
                        <i class="fa fa-3x text-primary fa-plus-circle" aria-hidden="true"></i>
                    </div>
                    <div class="mb-3">1. Дети в интересной для них форме знакомятся с животными, цветами, формами, учат песни и танцуют</div>
                    <div class="mb-3">2. Герои мультфильмов рассказывают детям о взаимоотношениях</div>
                    <div class="mb-3">3. Интересное и увлекательное для детей времяпрепровождение</div>
                </div>
                <div class="col-1"></div>
                <div class="col">
                    <div class="text-center mb-3">
                        <i class="fa fa-3x text-danger fa-minus-circle" aria-hidden="true"></i>
                    </div>
                    <div class="mb-3 ">1. Не всегда герои мультфильмов похожи на реальных персонажей из жизни</div>
                    <div class="mb-3">2. Пугающие детей сюжеты</div>
                    <div class="mb-3">3. Высокая эмоциональная</div>
                    <div class="mb-3">4. Нагрузка на зрение</div>
                </div>
            </div>
            <div style="width: 75%; margin-top: 100px">
                <h2 style="margin-bottom: 70px" class="text-center">Хочу отметить, что в этом споре правы все. Есть свои + и -, давайте попробуем сбалансировать.</h2>
                <div>
                    <div class="mb-5">
                        <h4 class="mb-3">1. Ограничивать время просмотра мультфильмов.</h4>
                        Яркие образы и динамично меняющиеся изображения завораживают детей.
                        При этом ребёнок не контролирует время самостоятельно, поэтому обязанность
                        ложиться на плечи родителей. Если ребёнок длительное время проводит перед экраном,
                        то его нервная система перегружается (ведь в реальной жизни всё не так ярко и динамично),
                        речь ребёнка во многих случаях не развивается (для того, чтобы научиться произносить
                        звуки и слова, ребёнку необходимо наблюдать за артикуляцией собеседника и повторять
                        движения губ и языка (так занимается логопед, например), однако, герои мультфильмов слова,
                        конечно, произносят, но понять как это делают невозможно (для развития речи необходим
                        реальный собеседник). САНПИН рекомендует в дошкольных образовательных организациях
                        детям взаимодействовать с экраном телевизора или компьютера только после достижения 5 лет.
                        В пятилетнем возрасте время перед экраном составляет 5 минут, в семилетнем – 7 минут.
                        Родители самостоятельно определяют время просмотра. Я рекомендую для ребёнка
                        3 лет – не более 15 минут в день.
                    </div>
                    <div class="mb-5">
                        <h4 class="mb-3">2. Выбирать контент для ребёнка.</h4>
                        Как при выборе игрушек, так и при выборе мультфильма лучше всего для детей раннего
                        возраста отдать предпочтение тем мультикам, где герои похожи на реальных людей и
                        животных по форме и окрасу. Мне очень нравятся советские мультики как раз за реалистичность
                        героев, за меньшую динамичность сюжета, спокойный цветовой фон, позитивное музыкальное
                        сопровождение.
                    </div>
                    <div class="mb-5">
                        <h4 class="mb-3">3. Обсуждать увиденное.</h4>
                        С детьми дошкольного возраста здорово обсуждать поступки героев, рассуждать о сюжете.
                    </div>
                </div>
            </div>
        </div>
        <!-- -->
        <!-- > <-->
        <div class="section-title" style="z-index: 1">
            <span style="color: rgba(244, 113, 116, 1)">Время вместе</span>
        </div>
        <div id = "time_together" class="row d-flex justify-content-center p-3 m-0">
            <div class="text-center" style="width: 75%; margin: 40px 0">
                <h2>Самое ценное – это время, проведенное вместе. Это не тогда, когда ребёнок играет, а родители находятся рядом, думая о своих взрослых делах. Время вместе – это то время, когда родитель включен в игру, увлечён с ребёнком одним делом</h2>
            </div>
            <div class="text-center" style="margin: 40px 0">
                <h1>ИГРЫ ДОМА</h1>
            </div>
            <div style="width: 75%;">
                <div class="mb-5">
                    <h4 class="mb-3">1. Вместе заняться творчеством!</h4>
                    Рисовать, лепить, вырезать – невероятно увлекательное занятие!
                </div>
                <div class="mb-5">
                    <h4 class="mb-3">2. Играть в сюжетные игры!</h4>
                    Что может быть интереснее?! Больница, Кафе, Детский сад, Автозаправка,
                    Парикмахерская, Магазин – вот лишь несколько примеров игр, где каждый может
                    взять на себя какую-либо роль и прожить множество различных ситуаций.
                </div>
                <div class="mb-5">
                    <h4 class="mb-3">3. Подвижные игры!</h4>
                    Прятки, догонялки, бой подушками, катание мячей, твистер, классики – это весело!
                </div>
                <div class="mb-5">
                    <h4 class="mb-3">4. Настольные игры!</h4>
                    Шашки и шахматы, домино и лото, пазлы – всем известные игры.
                    Сейчас есть множество новых настольных игр, которые позволяют детям и родителям провести время вместе
                </div>
                <div class="mb-5">
                    <h4 class="mb-3">5. Дети – невероятные фантазеры!</h4>
                    Поддержите ту игру, которую придумал ребёнок.
                    Включитесь в неё с готовностью без осуждений, изменений.
                    Просто будьте детьми, позвольте себе это
                </div>
            </div>
        </div>
        <!-- > <-->
    </section>
</main>

<script>
    const lightbox5 = GLightbox({
        selector:  '.glightbox5',
        touchNavigation: true,
        loop: true,
        autoplayVideos: true,
        onOpen: () => {

        },
        beforeSlideLoad: (slide, data) => {

        }
    });

    const glightbox18 = GLightbox({
        selector:  '.glightbox18',
        touchNavigation: true,
        loop: true,
        autoplayVideos: true,
        onOpen: () => {

        },
        beforeSlideLoad: (slide, data) => {

        }
    });

    const glightbox19 = GLightbox({
        selector:  '.glightbox19',
        touchNavigation: true,
        loop: true,
        autoplayVideos: true,
        onOpen: () => {

        },
        beforeSlideLoad: (slide, data) => {

        }
    });

    const glightbox21 = GLightbox({
        selector:  '.glightbox21',
        touchNavigation: true,
        loop: true,
        autoplayVideos: true,
        onOpen: () => {

        },
        beforeSlideLoad: (slide, data) => {

        }
    });

    const toggleBtns= document.querySelectorAll('.faq-toggle');

    toggleBtns.forEach(toggleBtn => {
        toggleBtn.addEventListener('click', ()=>{
            toggleBtn.parentNode.classList.toggle('active')
        })
    });

</script>

<!--
<script src="javascripts/delaunay.js"></script>
<script src="javascripts/stars.js"></script>
-->
<%- include('../layout/footer') %>